.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-note {
  border: 2px dashed #aaa;
  background-color: #eeeef4;
  border-radius: 0.25em;
  width: calc(100vw - 4em);
  padding: 0.75em;
  margin: 0.5em auto;
  text-align: left;
  min-height: 2em;
}

.App-note:hover {
  background-color: #f4f4ff;
}

.App-note .name {
  margin: 0;
  padding: 0;
}

.App-note .delete {
  color: darkred;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
